<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Property Price Prediction</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#f9fafb] min-h-screen flex flex-col items-center justify-center">

  <header class="mb-8 text-center">
    <h1 class="text-4xl font-extrabold text-gray-800 mb-2">Real Estate Price Predictor</h1>
    <p class="text-gray-500">Enter property details below to get an estimated price</p>
  </header>

  <div class="bg-white p-10 rounded-2xl shadow-md w-full max-w-md border border-gray-200">
    <form id="predictionForm"  method="POST" action="{{url_for('predict')}}">
      <div class="mb-4">
        <label class="block text-gray-600 mb-1">Neighbourhood</label>
        <input type="text" name="neighbourhood" class="w-full border border-gray-300 p-2 rounded-md" placeholder="e.g., ZMS" required>
      </div>

      <div class="mb-4">
        <label class="block text-gray-600 mb-1">Size (sq ft)</label>
        <input type="number" name="size" step="0.01" class="w-full border border-gray-300 p-2 rounded-md" placeholder="e.g., 1196" required>
      </div>

      <div class="mb-4">
        <label class="block text-gray-600 mb-1">Bedrooms</label>
        <input type="number" name="bedrooms" class="w-full border border-gray-300 p-2 rounded-md" placeholder="e.g., 2" required>
      </div>

      <div class="mb-4">
        <label class="block text-gray-600 mb-1">Bathrooms</label>
        <input type="number" name="bathrooms" class="w-full border border-gray-300 p-2 rounded-md" placeholder="e.g., 3" required>
      </div>

      <div class="mb-6">
        <label class="block text-gray-600 mb-1">Building</label>
        <input type="text" name="building" class="w-full border border-gray-300 p-2 rounded-md" placeholder="e.g., Building_240" required>
      </div>

      <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md w-full hover:bg-blue-700 transition duration-200">
        Predict Price
      </button>
    </form>
  </div>
  {{prediction_text}}

</body>
</html>
